<h3 mat-dialog-title>Mission File Actions</h3>
<div mat-dialog-content>


	<div *ngIf="canCopyToMainServer() || canCopyToTestServer()" style="margin-top: 10px">
		<div
			class="text">For adding missions the server must not be in the mission selection screen, else it will crash.
		</div>
		<div class="buttons">
			<button *ngIf="canCopyToMainServer()" [disabled]="loading" (click)="doAction(getActionType.COPY_TO_MAIN)"
							color="accent"
							mat-raised-button>Copy to Main Server
			</button>
			<button *ngIf="canCopyToTestServer()" [disabled]="loading" (click)="doAction(getActionType.COPY_TO_TEST)"
							color="accent"
							mat-raised-button>Copy to Test Server
			</button>
		</div>
	</div>

	<div *ngIf="canRemoveFromMainServer() || canRemoveFromTestServer()">
		<hr>
		<div class="text">For removal the server must not have the missions loaded in memory.</div>
		<div class="buttons">
			<button *ngIf="canRemoveFromMainServer()" [disabled]="loading" (click)="doAction(getActionType.REMOVE_FROM_MAIN)"
							color="accent"
							mat-raised-button>Remove from Main server
			</button>
			<button *ngIf="canRemoveFromTestServer()" [disabled]="loading" (click)="doAction(getActionType.REMOVE_FROM_TEST)"
							color="accent"
							mat-raised-button>Remove from Test server
			</button>
		</div>
	</div>

	<div *ngIf="canAskForReview()">
		<hr>
		<div class="text">To <b>upload</b> your mission to the main server, ask review team to review it. If it passes it
			will be uploaded. You will be notified of the results.
		</div>
		<div class="buttons">
			<button *ngIf="canAskForReview()" [disabled]="loading" (click)="doAction(getActionType.ASK_FOR_REVIEW)"
							color="accent"
							mat-raised-button>Ask for review
			</button>
		</div>
	</div>

	<div *ngIf="canReviewMission()">
		<hr>
		<div class="text">
			Click the button to submit your examination of this mission.
		</div>
		<div class="buttons">
			<button *ngIf="canReviewMission()" [disabled]="loading" (click)="openReviewDialog()" color="accent"
							mat-raised-button>Open review process
			</button>
		</div>
	</div>


	<div *ngIf="canRemoveArchive()">
		<hr>
		<div class="text">Removing the archive will delete the mission file from the archive folder AND remove this update
			entry on the database.
		</div>
		<div class="buttons">
			<button *ngIf="canRemoveArchive" (click)="removeArchive()" color="warn"
							mat-raised-button>Remove Archive
			</button>

		</div>
	</div>

</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="">Close</button>
</div>
