<div id="logo" class="flex-center"><img src="../../../assets/imgs/logo.png" height="240" width="240" alt="Global Conflicts Logo" /></div>
<h1 id="title">Global Conflicts</h1>
<div class="content-width">
	<div class="embed-container">
		<iframe title="Global Conflicts Trailer" src="https://www.youtube.com/embed/ekm3kNusrfY?start=19" allowfullscreen></iframe>
	</div>
</div>

<div id="discord" class="margin-top flex-center">
	<a href="https://discord.gg/jZNCc8r">
		<img src="../../../assets/imgs/discord.png" alt="Join us on Discord" />
	</a>
</div>

<section class="margin-top">
	<h2 class="section-title">About us</h2>
	<div class="content-width">
		<ul class="section-text">
			<li>Open community. No sign-up required</li>
			<li>Organized briefings</li>
			<li>Non-Zeus missions. Every mission is scripted with defined objectives and end-conditions. COOPs and TvTs</li>
			<li>Sessions every Saturday and Sunday</li>
		</ul>
	</div>
</section>

<div class="video-wrapper">
	<video autoplay muted loop>
		<source src="../../../assets/videos/briefing-showcase.m4v" type="video/mp4" />
		Your browser does not support HTML5 video.
	</video>
</div>

<section>
	<h2 class="section-title">Getting Started</h2>
	<div class="content-width">
		<ol class="section-text">
			<li>Join our <a href="https://discord.gg/jZNCc8r">Discord</a> and bookmark our <a href="ts3server://globalconflicts.net?port=9987">Teamspeak server</a></li>
			<li>Download the launcher from our Discord server</li>
			<li>Bookmark our A3 server: <span class="bold-text">51.79.99.90:2302</span> <span class="small-text">(The password is on Teamspeak)</span></li>
			<li>Don’t be a dick</li>
			<li>That’s it.</li>
		</ol>
	</div>
</section>
<script type="application/javascript">
	window.addEventListener('message', function (e) {
		if (e.data.uid && e.data.type === 'sizeUpdate') {
			var i = document.querySelector('iframe[name="' + e.data.uid + '"]');
			i.style.width = e.data.payload.width;
			i.style.height = e.data.payload.height;
		}
	});
</script>

<div class="video-wrapper">
	<video autoplay muted loop>
		<source src="../../../assets/videos/gameplay-showcase.m4v" type="video/mp4" />
		Your browser does not support HTML5 video.
	</video>
</div>

<section>
	<h2 class="section-title">First Time Tips</h2>
	<div class="content-width">
		<div class="section-text">
			During the slotting screen, someone will volunteer to lead the mission(it can be you!). The rest of the players will start slotting into the slots that the leader calls
			to be filled.
			<br />
			Check our <a href="https://globalconflicts.net/wiki/index.php?title=Main_Page">wiki</a> for more tips and guides.
		</div>
	</div>
</section>

<div class="margin-top flex-center">
	<script type="application/javascript">
		window.addEventListener('message', function (e) {
			if (e.data.uid && e.data.type === 'sizeUpdate') {
				var i = document.querySelector('iframe[name="' + e.data.uid + '"]');
				i.style.width = e.data.payload.width;
				i.style.height = e.data.payload.height;
			}
		});
	</script>
	<iframe
		title="Global Conflicts Battlemetrics"
		src="https://cdn.battlemetrics.com/b/horizontal500x80px/7904054.html?foreground=%23EEEEEE&background=%23222222&lines=%23333333&linkColor=%231185ec&chartColor=%23FF0700"
		style="border: 0"
		name="rtrgp"
	></iframe>
</div>
<div id="copyrights" class="small-text flex-center margin-top"></div>
