<div class="container">
	<div style="position: relative">
		<div class="center" *ngIf="!doneLoading">
			<mat-progress-spinner diameter="100" mode="indeterminate" color="accent">Loading</mat-progress-spinner>
		</div>
		<div class="not-allowed-text" *ngIf="!(userService.loggedUser)">You must join our Discord to see the most voted missions, and vote!
		</div>
		<div [class.not-allowed-overlay]="!doneLoading" *ngIf="!!votedMissions">
			<div class="column" [class.not-allowed-overlay]="!(userService.loggedUser)">
				<h2>These are the top voted missions for the next play sessions:</h2>
				<div>
					<small>Note: This list will be reset every Monday. </small>
					<button mat-raised-button class="smaller-button" *ngIf="canResetVotes()" color="warn" (click)="resetVotes()">
						Reset all votes
					</button>
					<button mat-raised-button class="smaller-button"  style="margin-left: 20px"  color="warn" (click)="resetMyVotes()">
						Reset my votes
					</button>
				</div>
				<h3 *ngIf="votedMissions.length == 0" style="text-align: center">
					Nobody voted yet!
				</h3>
				<div class="mission" *ngFor="let mission of votedMissions; let i = index">

					<div class="mission-image d-none   d-xl-block">
						<img [src]="missionsService.getImage(mission)" alt="Mission image" />
					</div>

					<div class="mission-details">
						<h2 class="title">
							{{i + 1}}) <a href="/mission-details/{{mission.uniqueName}}">{{mission.name}}</a>
						</h2>
						<div class="author-votes-btn">
							<h3 class="author">
								By: {{mission?.authorName}}
							</h3>
							<div class="vote-area">
								<div>
									<div class="details-label">
										Votes
									</div>
									<div class="details-value" style="text-align: center">
										{{mission.votes?.length}}
									</div>
								</div>
								<div class="mission-vote-btn">
									<span>You have {{4 - userVotesCount}} votes left</span>
									<button [disabled]="isVotingDisabled(mission)" style="width: 108px;" mat-flat-button
													class="mission-button smaller-button" color="accent"
													matTooltip="{{getVotingTooltip(mission)}}"
													(click)="vote(mission)">
										{{ getVotingBtnText(mission) }}
									</button>
								</div>
							</div>
						</div>

						<div class="description">
							{{mission.description}}
						</div>
						<div>
							<div class="detail-row">
								<div>
									<div class="details-label">Map</div>
									<div class="details-value">{{ mission?.terrain }}</div>
								</div>
								<div>
									<div class="details-label">Type</div>
									<div class="details-value">{{ mission?.type }}</div>
								</div>
								<div>
									<div class="details-label">Players</div>
									<div class="details-value">Min: {{ mission?.size?.min }} Max: {{ mission?.size?.max }}</div>
								</div>
								<div>
									<div class="details-label">Time</div>
									<div class="details-value">{{ mission?.timeOfDay }}</div>
								</div>
								<div>
									<div class="details-label">Era</div>
									<div class="details-value">{{ mission?.era }}</div>
								</div>
								<div>
									<div class="details-label">JIP</div>
									<div [ngSwitch]="mission?.jip">
										<div *ngSwitchCase="true">
											<mat-icon class="green-icon">check</mat-icon>
										</div>
										<div *ngSwitchDefault>
											<mat-icon class="red-icon">close</mat-icon>
										</div>
									</div>
								</div>
								<div>
									<div class="details-label">Respawn</div>
									<div [ngSwitch]="mission?.respawn">
										<div *ngSwitchCase="true">
											<mat-icon class="green-icon">check</mat-icon>
										</div>
										<div *ngSwitchDefault>
											<mat-icon class="red-icon">close</mat-icon>
										</div>
									</div>
								</div>
								<div class="col" *ngIf="mission?.ratios">
									<div class="details-label">Ratios</div>
									<div class="details-value" *ngIf="mission?.ratios?.blufor">Blufor: {{ mission?.ratios?.blufor }}</div>
									<div class="details-value" *ngIf="mission?.ratios?.opfor">Opfor: {{ mission?.ratios?.opfor }}</div>
									<div class="details-value" *ngIf="mission?.ratios?.indfor">Indfor: {{ mission?.ratios?.indfor }}</div>
									<div class="details-value" *ngIf="mission?.ratios?.civ">Civ: {{ mission?.ratios?.civ }}</div>
								</div>
							</div>
							<div class="detail-row">
								<div>
									<div class="details-label">Tags</div>
									<mat-chip-list>
										<mat-chip *ngFor="let tag of mission?.tags">
											{{ tag }}
										</mat-chip>
									</mat-chip-list>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
