@use "../../../colors";

.button-row {
	display: flex;
	min-height: 68px;
	justify-content: space-evenly;
	flex: 1;

	div {
		display: flex;
		justify-content: center;
		width: 100px;
		align-items: center;
		font-weight: 600;
		cursor: pointer;
		transition: all 200ms;

		&.selected {
			background-color: colors.$accent;
			color: colors.$primary;
		}

		:hover {
			cursor: pointer;
		}

	}
}

.error-display {
	height: 22px;
	color: colors.$error;
}

.upload-result {
	font-size: 26px;
	text-align: center;
	color: colors.$accent;

	.result-success {
		color: colors.$success;
	}

	.result-error {
		color: colors.$error;
	}

}
