<div class="content">
	<div style="position: relative">
		<div class="not-allowed-text" *ngIf="!(discordUser && discordUser.role)">
			You must join our Discord server and complete the welcoming process to upload missions!
		</div>

		<div class="column" [class.not-allowed-overlay]="!(discordUser && discordUser.role)">
			<div class="explain" *ngIf="discordUser">
				• The name of your mission on the server will be a composition of the options you choose bellow. The file name of
				the mission on your PC is irrelevant.
				<div *ngIf="discordUser.isTrustedMissionMaker()">
					• You are trusted mission maker! Your mission will be uploaded to the "MPMissions" folder of the Test Server.
				</div>
				<div *ngIf="!discordUser.isTrustedMissionMaker()">
					• You are not trusted mission maker(yet)! Your mission will be uploaded to the "READY" folder of the Test
					Server.
				</div>
			</div>
			<div class="mission-file-name-result">
				Mission file name: <b>{{missionFileName}}</b>
			</div>
			<div>
				<div class="field-container file" [class.invalid]="missionErrors['missionFile']" (click)="missionFileInput.click()">
					<label class="inset-label" for="file-input">Select Mission .pbo</label>
					<input #missionFileInput autocomplete="off" style="display: none" title="Select file" type="file"
								 id="file-input"
								 accept=".pbo"
								 (change)="missionToUpload = $event.target.files[0]; validateMissionPBO(); buildMissionFileName()">
					<div class="input-like"
							 [class.placeholder]="missionToUpload==null">{{missionToUpload?.name || 'CO32_Mission_Name_V2.altis.pbo'}}</div>

				</div>
				<div class="error-display">{{missionErrors['missionFile']}}</div>
			</div>
			<div class="row">
				<div>
					<div class="field-container" [class.invalid]="missionErrors['missionName']">
						<label class="inset-label" for="description">Mission name</label>
						<input maxlength="100" placeholder="Operations Boomsstick"
									 autocomplete="off" id="name" [(ngModel)]="missionName"
									 (ngModelChange)="validateMisssionName(); buildMissionFileName()">
					</div>
					<div class="error-display">{{missionErrors['missionName']}}</div>
				</div>
				<div>
					<div class="field-container" [class.invalid]="missionErrors['version']">
						<label class="inset-label" for="minPlayers">Version</label>
						<input autocomplete="off" placeholder="1" type="number" oninput="this.value = Math.abs(this.value)"
									 id="version" [(ngModel)]="version"
									 (ngModelChange)="validateVersion(); buildMissionFileName()">
					</div>
					<div class="error-display">{{missionErrors['version']}}</div>
				</div>


			</div>
			<div class="row">
				<div>
					<div class="field-container" [class.invalid]="missionErrors['minPlayers']">
						<label class="inset-label" for="minPlayers">Min. Player Count</label>
						<input autocomplete="off" placeholder="22" type="number" id="minPlayers"
									 oninput="this.value = Math.abs(this.value)" [(ngModel)]="minPlayers"
									 (ngModelChange)="validateMinPlayers(); buildMissionFileName()">
					</div>
					<div class="error-display">{{missionErrors['minPlayers']}}</div>
				</div>
				<div>
					<div class="field-container" [class.invalid]="missionErrors['maxPlayers']">
						<label class="inset-label" for="maxPlayers">Max. Player Count</label>
						<input autocomplete="off" placeholder="22" type="number" id="maxPlayers" [(ngModel)]="maxPlayers"
									 (ngModelChange)="validateMaxPlayers(); buildMissionFileName()">
					</div>
					<div class="error-display">{{missionErrors['maxPlayers']}}</div>
				</div>

			</div>
			<div>
				<div class="field-container" [class.invalid]="missionErrors['missionType']">
					<label class="inset-label">Mission Type</label>
					<div class="button-row unselectable">
						<div [class.selected]="missionType==MissionType.COOP" (click)="selectMissionType(MissionType.COOP)">COOP
						</div>
						<div [class.selected]="missionType==MissionType.TVT" (click)="selectMissionType(MissionType.TVT)">TVT</div>
						<div [class.selected]="missionType==MissionType.COTVT" (click)="selectMissionType(MissionType.COTVT)">COTVT
						</div>
						<div [class.selected]="missionType==MissionType.LOL" (click)="selectMissionType(MissionType.LOL)">LOL</div>
					</div>
				</div>
				<div class="error-display">{{missionErrors['missionType']}}</div>
			</div>
			<div>
				<div class="field-container" [class.invalid]="missionErrors['description']">
					<label class="inset-label" for="description">Short Description</label>
					<input maxlength="100" placeholder="2.5:1 | USMC raids ammo depot | Defenders chooses weather"
								 autocomplete="off" id="description" [(ngModel)]="description"
								 (ngModelChange)="validateDescription()">
				</div>
				<div class="error-display">{{missionErrors['description']}}</div>
			</div>
			<button class="btn" (click)="upload()">
				<div>UPLOAD</div>
			</button>
			<div class="upload-result">
				<div class="result-error" *ngIf="uploadingState=='error'">Failed to upload mission</div>
				<div class="result-uploading" *ngIf="uploadingState=='uploading'">Uploading mission...</div>
				<div class="result-success" *ngIf="uploadingState=='success'"> Mission uploaded!</div>

			</div>
			<div class="upload-result">
				<div class="result-error" *ngIf="authError">{{authError}}</div>
			</div>

		</div>

	</div>
</div>
