@use "../../../colors";

.button-row {
	display: flex;
	min-height: 68px;
	justify-content: space-evenly;
	flex: 1;

	div {
		display: flex;
		justify-content: center;
		width: 100px;
		align-items: center;
		font-weight: 600;
		cursor: pointer;
		transition: all 200ms;

		&.selected {
			background-color: colors.$accent;
			color: colors.$primary;
		}

		:hover {
			cursor: pointer;
		}

	}
}

.error-display {
	height: 22px;
	color: colors.$error;
}

.upload-result {
	font-size: 26px;
	text-align: center;
	color: colors.$accent;

	.result-success {
		color: colors.$success;
	}

	.result-error {
		color: colors.$error;
	}

}

.mat-slider {
	margin-left: 20px;
}

.mat-slider-vertical {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.mat-slider-track-fill,
.mat-slider-wrapper,
.mat-slider-track-wrapper,
.mat-slider-track-background {
    height: 5px !important;
}

:host ::ng-deep {
	.mat-slider-track-fill,
	.mat-slider-wrapper,
	.mat-slider-track-wrapper,
	.mat-slider-track-background {
		width: 5px !important;
	}
	.mat-slider-thumb-label-text {
		opacity: 1 !important;
	}
	.mat-slider-thumb-label {
    transform: rotate(-45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
	.mat-slider-disabled .mat-slider-track-fill {
		background-color: rgba(255, 255, 255, 0.3) !important;
	}
	.blueSlider {
		.mat-slider-thumb,
		.mat-slider-thumb-label,
		.mat-slider-track-fill {
		  background-color: blue;
		}
	}
	.redSlider {
		.mat-slider-thumb,
		.mat-slider-thumb-label,
		.mat-slider-track-fill {
		  background-color: red;
		}
	}
	.greenSlider {
		.mat-slider-thumb,
		.mat-slider-thumb-label,
		.mat-slider-track-fill {
		  background-color: green;
		}
	}
	.yellowSlider {
		.mat-slider-thumb,
		.mat-slider-thumb-label,
		.mat-slider-track-fill {
		  background-color: yellow;
		}
		.mat-slider-thumb-label-text {
			color: black;
		}
	}
}
