<h1 mat-dialog-title>{{mission.name}}</h1>
<div mat-dialog-content>
	<mat-vertical-stepper class="field-container" [linear]="true" #stepper>
		<mat-step [stepControl]="missionTypeGroup">
			<form [formGroup]="missionTypeGroup">
				<ng-template matStepLabel>Mission Type</ng-template>
				<div class="mt-2">
					<mat-radio-group formControlName="missionType" #missionType (ngModelChange)="selectMissionType()" required>
						<mat-radio-button *ngFor="let type of mC.MissionTypes" [value]="type"> {{type.title}} </mat-radio-button>
					</mat-radio-group>
					<mat-slide-toggle
						style="display: flex"
						formControlName="ratioLOL"
						*ngIf="missionTypeGroup.get('missionType')?.value?.title == 'LOL'"
						class="mb-4 mt-4"
						L
						(change)="ratioOverride()"
					>
						Team Ratios
					</mat-slide-toggle>
				</div>
				<mat-error>{{getTypeErrorMessage()}}</mat-error>
				<button mat-button matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [stepControl]="missionSizeGroup">
			<form [formGroup]="missionSizeGroup">
				<ng-template matStepLabel>Player Count</ng-template>
				<div>
					<mat-form-field>
						<mat-label class="inset-label">Minimum Players</mat-label>
						<input matInput formControlName="minPlayers" autocomplete="off" placeholder="10" type="number" maxlength="3" (ngModelChange)="buildMissionFileName()" />
					</mat-form-field>
					<mat-form-field>
						<mat-label class="inset-label">Maximum Players</mat-label>
						<input matInput formControlName="maxPlayers" autocomplete="off" placeholder="22" type="number" maxlength="3" (ngModelChange)="buildMissionFileName()" />
					</mat-form-field>
					<mat-error>{{getSizeErrorMessage()}}</mat-error>
				</div>
				<mat-label *ngIf="getIfTVT()" class="inset-label row">Side Ratios:</mat-label>
				<div *ngIf="getIfTVT()" style="display: flex">
					<mat-checkbox formControlName="ratioBluforE" class="inset-label" style="align-self: center">BLUFOR: </mat-checkbox>
					<mat-slider
						formControlName="ratioBlufor"
						class="blueSlider column"
						[disabled]="!(missionSizeGroup.get('ratioBluforE')?.value ? missionSizeGroup.get('ratioBluforE')?.value: false)"
						[thumbLabel]="true"
						[vertical]="true"
						[step]="0.1"
						[min]="1"
						[max]="5"
					></mat-slider>
					<mat-checkbox formControlName="ratioOpforE" class="inset-label" style="align-self: center"> OPFOR:</mat-checkbox>
					<mat-slider
						formControlName="ratioOpfor"
						class="redSlider column"
						[disabled]="!(missionSizeGroup.get('ratioOpforE')?.value ? missionSizeGroup.get('ratioOpforE')?.value: false)"
						[thumbLabel]="true"
						[vertical]="true"
						[step]="0.1"
						[min]="1"
						[max]="5"
					></mat-slider>
					<mat-checkbox formControlName="ratioIndforE" class="inset-label" style="align-self: center">INDFOR: </mat-checkbox>
					<mat-slider
						formControlName="ratioIndfor"
						class="greenSlider column"
						[disabled]="!(missionSizeGroup.get('ratioIndforE')?.value ? missionSizeGroup.get('ratioIndforE')?.value: false)"
						[thumbLabel]="true"
						[vertical]="true"
						[step]="0.1"
						[min]="1"
						[max]="5"
					></mat-slider>
					<mat-checkbox formControlName="ratioCivE" class="inset-label" style="align-self: center"> CIVILIAN:</mat-checkbox>
					<mat-slider
						formControlName="ratioCiv"
						class="yellowSlider column"
						[disabled]="!(missionSizeGroup.get('ratioCivE')?.value ? missionSizeGroup.get('ratioCivE')?.value: false)"
						[thumbLabel]="true"
						[vertical]="true"
						[step]="0.1"
						[min]="1"
						[max]="5"
					></mat-slider>
				</div>
				<mat-error>{{getRatioErrorMessage()}}</mat-error>
				<button mat-button matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [stepControl]="missionDescGroup">
			<form [formGroup]="missionDescGroup">
				<ng-template matStepLabel>Description</ng-template>
				<div>
					<mat-form-field>
						<mat-label class="inset-label">Description</mat-label>
						<textarea
							matInput
							formControlName="misDescription"
							autocomplete="off"
							placeholder="USMC raids ammo depot | Defenders chooses weather"
							type="string"
							maxlength="180"
						></textarea>
						<mat-error>{{getDescErrorMessage()}}</mat-error>
					</mat-form-field>
					<mat-slide-toggle style="display: flex" formControlName="misJip" checked="true" class="mb-4 mt-4"> JIP </mat-slide-toggle>
					<mat-slide-toggle style="display: flex" formControlName="misRespawn" class="mb-4 mt-4"> Respawn </mat-slide-toggle>
					<mat-form-field>
						<mat-label>Tags</mat-label>
						<mat-select formControlName="misTags" multiple #missionTags>
							<mat-select-trigger>
								<mat-chip-list>
									<mat-chip
										*ngFor="let tag of missionDescGroup.get('misTags')?.value; let matChipIndex = index"
										[removable]="true"
										(removed)="onListChipRemoved(missionTags, matChipIndex)"
									>
										{{ tag }}
										<mat-icon matChipRemove>cancel</mat-icon>
									</mat-chip>
								</mat-chip-list>
							</mat-select-trigger>
							<mat-option *ngFor="let tag of mC.MissionTags.sort()" [value]="tag">{{tag}} </mat-option>
						</mat-select>
						<mat-error>{{getTagsErrorMessage()}}</mat-error>
					</mat-form-field>
					<mat-label class="mr-4 mb-4 mt-4" style="display: flex">Time of Day:</mat-label>
					<mat-radio-group formControlName="misTime" #misTime required>
						<mat-radio-button *ngFor="let time of mC.MissionTimes" [value]="time"> {{time}} </mat-radio-button>
					</mat-radio-group>
					<mat-error>{{getReqErrorMessage('misTime')}}</mat-error>
					<mat-label class="mr-4 mb-4 mt-4" style="display: flex">Era:</mat-label>
					<mat-button-toggle-group formControlName="misEra" #misEra required>
						<mat-button-toggle *ngFor="let era of mC.MissionEras" [value]="era"> {{era}} </mat-button-toggle>
					</mat-button-toggle-group>
					<mat-error>{{getReqErrorMessage('misEra')}}</mat-error>
				</div>
				<button mat-button matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [stepControl]="fileImageGroup">
			<form [formGroup]="fileImageGroup">
				<ng-template matStepLabel>Image</ng-template>
				<div>
					<div [ngSwitch]="mission.image">
						<div *ngSwitchCase="undefined">
							<mat-slide-toggle #matInput class="mb-4" formControlName="imgToggle" (change)="changeImageToggle()"> Custom Mission Image </mat-slide-toggle>
							<mat-form-field *ngIf="fileImageGroup.get('imgToggle')?.value">
								<mat-label class="inset-label" for="file-input">Select Image</mat-label>
								<ngx-mat-file-input
									formControlName="missionImage"
									valuePlaceholder="No file selected"
									[accept]="'.png, .jpg, .jpeg'"
									#missionImage
									(change)="missionImageFile = $any($event.target).files[0]; setImagePreview($any($event.target).files[0])"
									[required]="true"
								>
								</ngx-mat-file-input>
								<mat-icon color="white" matSuffix>add_photo_alternate</mat-icon>
								<button mat-icon-button *ngIf="!missionImage.empty" (click)="missionImage.clear($event); missionImageFile = null; missionImageSrc = null">
									<mat-icon matSuffix>clear</mat-icon> Clear Selection
								</button>
							</mat-form-field>
							<mat-error>{{getImageErrorMessage()}}</mat-error>
						</div>
						<div *ngSwitchDefault>
							<div>
								<mat-slide-toggle #matInput class="mb-2" formControlName="imgReplaceToggle" (change)="changeImageReplaceToggle()">
									Replace Mission Image
								</mat-slide-toggle>
							</div>
							<div>
								<mat-slide-toggle
									#matInput
									class="mb-2"
									formControlName="imgRemoveToggle"
									(change)="changeImageRemoveToggle()"
									*ngIf="fileImageGroup.get('imgReplaceToggle')?.value"
								>
									Remove Image
								</mat-slide-toggle>
							</div>
							<mat-form-field *ngIf="fileImageGroup.get('imgReplaceToggle')?.value && !fileImageGroup.get('imgRemoveToggle')?.value">
								<mat-label class="inset-label" for="file-input">Select Image</mat-label>
								<ngx-mat-file-input
									formControlName="missionReplaceImage"
									valuePlaceholder="No file selected"
									[accept]="'.png, .jpg, .jpeg'"
									#missionReplaceImage
									(change)="missionImageFile = $any($event.target).files[0]; setImagePreview($any($event.target).files[0])"
									[required]="true"
								>
								</ngx-mat-file-input>
								<mat-icon color="white" matSuffix>add_photo_alternate</mat-icon>
								<button
									mat-icon-button
									*ngIf="!missionReplaceImage.empty"
									(click)="missionReplaceImage.clear($event); missionImageFile = null; missionImageSrc = null"
								>
									<mat-icon matSuffix>clear</mat-icon> Clear Selection
								</button>
							</mat-form-field>
							<mat-error>{{getReplaceImageErrorMessage()}}</mat-error>
						</div>
					</div>
				</div>
				<button mat-button matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Submit</ng-template>
			<div>
				<button mat-button [disabled]="sharedService.uploadingState === 'ready' && checkForm()" (click)="submit()">Submit Edits</button>
			</div>
			<div class="upload-result">
				<div class="result-error" *ngIf="sharedService.uploadingState=='error'">Failed to upload mission</div>
				<div class="name-conflict" *ngIf="sharedService.uploadingState=='name-conflict'">A mission with this name on this terrain already exists!</div>
				<div class="result-uploading" *ngIf="sharedService.uploadingState=='uploading'">Uploading mission...</div>
				<div class="result-success" *ngIf="sharedService.uploadingState=='success'">Mission uploaded!</div>
			</div>
			<div class="upload-result">
				<div class="result-error" *ngIf="authError">{{authError}}</div>
			</div>
		</mat-step>
	</mat-vertical-stepper>
</div>
<div class="row">
	<div class="col-2"></div>
	<div mat-dialog-actions class="col-2">
		<button mat-button [mat-dialog-close]="">Close</button>
	</div>
	<div class="col-2"></div>
</div>
