@use "../../../colors";
.details-label {
	font-size: 22px;
	color: colors.$accent;
	font-family: Roboto;
	font-weight: 400;
	margin-bottom: 8px;
}

.details-break {
	display: none;
}

@media (max-width: 575px) {
	.col-btn {
		margin: 5px 10px;

		button {
			width: 100%;
		}
	}
	.details-break {
		display: block;
	}
} ;
