<div class="content">
	<div style="position: relative">
		<div
			class="not-allowed-text"
			*ngIf="!(discordUser && discordUser.role)"
		>
			You must join our Discord server and complete the welcoming process
			to upload missions!
		</div>

		<div
			class="column"
			[class.not-allowed-overlay]="!(discordUser && discordUser.role)"
		>
			<div class="row">
				<div class="col-sm">MISSION NAME</div>
				<div class="col-sm">
					<button
						mat-flat-button
						color="primary"
						matTooltip="Download"
					>
						<mat-icon>get_app</mat-icon>
					</button>
				</div>
				<div class="col-sm">
					<button
						mat-flat-button
						color="accent"
						matTooltip="Update mission"
					>
						<mat-icon>upgrade</mat-icon>
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm">ver.#</div>
				<div class="col-sm">by: aaaaa</div>
			</div>

			<div class="row">
				<div class="col-sm">
					<div class="row">type</div>
					<div class="row">COOP</div>
				</div>
				<div class="col-sm">
					<div class="row">min.</div>
					<div class="row">12</div>
				</div>
				<div class="col-sm">
					<div class="row">max.</div>
					<div class="row">22</div>
				</div>
				<div class="col-sm">
					<div class="row">time</div>
					<div class="row">night</div>
				</div>
				<div class="col-sm">
					<div class="row">era</div>
					<div class="row">1980s</div>
				</div>
				<div class="col-sm">
					<div class="row">map</div>
					<div class="row">koromanshar</div>
				</div>
			</div>
		</div>
	</div>
</div>
