<div class="toolbar" role="banner">
  <img
    alt="Angular Logo"
    src="../../../assets/imgs/logo.png"
    width="40px"
  />
  <span>Welcome</span>

  <nav>

    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/mission-upload" routerLinkActive="active">Mission upload</a>
    <a routerLink="/mission-list" routerLinkActive="active">Mission list</a>
    <a routerLink="/mission-upload" routerLinkActive="active">AAR</a>
    <div class="spacer"></div>
    <a routerLink="/mission-upload" routerLinkActive="active">Login with Discord</a>
  </nav>
</div>
