
/* You can add global styles to this file, and also import other style files */
@use "defaults";
@use "colors";

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #373737;
  --primary-lighter-color: #c3c3c3;
  --primary-darker-color: #232323;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #373737,
  lighter: #c3c3c3,
  darker: #232323,
  200: #373737, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #92753d;
  --accent-lighter-color: #ded6c5;
  --accent-darker-color: #755827;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #92753d,
  lighter: #ded6c5,
  darker: #755827,
  200: #92753d, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #bf3535;
  --warn-lighter-color: #ecc2c2;
  --warn-darker-color: #a92222;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #bf3535,
  lighter: #ecc2c2,
  darker: #a92222,
  200: #bf3535, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$mat-red: (
  main: #f00,
  lighter: #f00,
  darker: #f00,
  200: #f00, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}


@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.field-container {
	border: solid 1px colors.$accent;
	border-radius: 4px;
	transition: all 200ms;

	.mat-stepper-vertical {
		margin-top: 4px;
	}

  .mat-radio-button {
    padding-right: 12px;
    padding-left: 8px;
  }

	.mat-form-field {
		display: block;
		margin-top: 4px;
	}

  .mat-form-field.mat-focused:not(.mat-form-field.mat-form-field-invalid) {
    .mat-form-field-label {
      color: white;
    }
  }

  .mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
      color: #bf3535 !important;
    }
  }

	&.invalid {
		border: solid 1px red;
	}

	.mat-step-icon {
		background-color: colors.$accent;
	}

	.mat-stepper-next {
		border: solid 1px colors.$accent;
		border-radius: 4px;
	}

	label {
		color: white;
		background-color: transparent;
	}

	input, .input-like {
		width: 100%;
		border-radius: 0 4px 4px 0;
	}

	&.file {
		cursor: pointer;
		min-height: 68px;

		input {
			opacity: 0;
			top: 0;
			left: 0;
		}
	}
}

.mat-drawer-container {
	font: 400 18px/20px Roboto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
	height: 64px !important;
}

.mat-menu-trigger2 {
	left: 234px;
	top: -50px;
	position: relative;
}

body {
	background-color: #373737;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white
}

svg.material-icons {
	height: 24px;
	width: auto;
}

svg.material-icons:not(:last-child) {
	margin-right: 8px;
}

.smaller-icon {
	font-size: 20px;
}

a {
	color: colors.$accent;
	text-decoration: none;
}

a:hover {
	color: colors.$link-highlight;
}

.content {
	max-width: 1024px;
	margin: 100px auto;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;

	> :not(:last-child) {
		margin-bottom: 20px;
	}
}


.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.spacer {
	flex: 1;
}

.accent-color {
	 color: colors.$accent !important;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: colors.$accent;
	color: white;
	outline: none;
	border: none;


	transition: all 0.1s ease-in-out;

	div {
		transition: all 0.1s ease-in-out;
	}

	cursor: pointer;

	&:hover {
		box-shadow: inset black 0 1px 1px 0;

		div {
			transform: translateY(1px);
		}
	}

	&:active {
		box-shadow: inset black 0 2.5px 4px 0;

		div {
			transform: translateY(4px);
		}
	}

}


form {
	> * {
		margin-bottom: 20px;
	}
}

input, .input-like {
	background-color: colors.$primary;
	border: none;
	display: flex;
	flex: 1;
	align-items: center;
	outline: none;
	color: white;
	min-height: 58px;
	padding: 5px 15px;
	font-size: 25px;

	&.placeholder {
		color: #757575 !important;
	}
}

@mixin card-like{
	box-shadow: 0 0 17px 0 #1d1d1d;
	border-radius: 8px;
}

.button-cell{
	cursor: pointer;
}

.not-allowed-text {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 20%;
	width: 100%;

}

.not-allowed-overlay {
	opacity: 0.3;
	cursor: not-allowed !important;
	filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	-moz-filter: blur(4px);
	-webkit-filter: blur(4px);
	pointer-events: none;
	user-select: none;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

.explain{
	font-size: 11px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
